@model Student
<h2>Add Student</h2>
<hr>

<form asp-controller="Student" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Student Name</label>
        <input asp-for="Name" class="form-control" />        
    </div>
    <div class="mb-3">
        <label asp-for="SurName" class="form-label">Student SurName</label>
        <input asp-for="SurName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
</form>