@model Course
<h2>Edit Course</h2> 
<hr>

<form asp-controller="Course" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Course Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>