@model Teacher

<p>
    <b>@Model.Name @Model.Surname</b> will be deleted. Are you sure?

    <form asp-controller="Teacher" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.TeacherId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</p>